.lead{
height:200px;
background-color:lightgreen;
}
.leadd{
height:200px;
background-color:lightgray;
}

.lea{
height:200px;
background-color:purple;
}
.le{
height:200px;
background-color:gold;
}
.containery{
margin:10px;

}
